img {
    width: 400px;
    border: 5px solid slategray;
    border-radius: 5px;
}
body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #a6dce8;
}